---
import { SITE } from '~/config/site/config.js';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import hero from '~/config/pages/rsvp/hero';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  {
    hero && hero.enabled && (
      <Hero
        padding={hero.padding}
      >
        {hero.title.enabled && <Fragment slot="title" set:html={hero.title.text} />}

        {hero.subtitle.enabled && <Fragment slot="subtitle" set:html={hero.subtitle.text} />}
      </Hero>
    )
  }

  <!-- Google Form Embed -->
  <div class="registry-container">
    <iframe
      src="https://forms.gle/rDKVAHPLFHEEFAiS9"
      width="100%"
      height="600"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      style="border: 1px solid #ddd; border-radius: 8px; padding: 10px;"
    >
      Loading…
    </iframe>
  </div>

  <!-- Hero Widget ******************* -->

  {
    hero && hero.enabled && (
      <Hero
        padding={hero.padding}
      >
        {hero.title.enabled && <Fragment slot="title" set:html={`<span class="fancy">Song Request</span>`} />}

        {<Fragment slot="subtitle" set:html={`<span class="fancy">Please kindly upvote the songs you like, and/or add new songs to the list.</span>`} />}
      </Hero>
    )
  }
  <!-- Poll.ly Embed using iframe -->
  <div class="registry-container">
    <iframe
      src="https://poll.ly/#/eT8j3cbae5y34ccIlUGc"
      width="100%"
      height="600" frameborder="0" marginheight="0" marginwidth="0" style="border: 1px solid #ddd; border-radius: 8px; padding: 10px;">
    </iframe>
  </div>
</Layout>

